.top-footer {
    .right-footer-side {
        h3 {
            font-size: 20px;
            font-weight: 700;
            color: white;
        }
        a {
            font-size: 14px;
            font-weight: 500;
            color: white;
        }
    }
}
.footer-links {
    a {
        font-size: 12px;
        font-weight: 500;
        color: white;
    }
}
