.system-bar {
    background-color: $main-color;
    p {
        font-family: $main-font;
    }
}
// toolbar
.toolbar-container {
    .p-toolbar-center {
        a {
            color: $main-color;
            &.router-link-active {
                font-weight: 600 !important;
                color: $second-color;
            }
        }
    }
    .p-toolbar-end {
        .p-button,
        .header-icons {
            color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            &:hover,
            &.router-link-exact-active {
                background-color: lighten($main-color, 50%);
                margin: 0 1px;
            }
        }
    }
}

