// account mennu style
.account-menu-container {
    overflow-x: scroll;
    white-space: nowrap;
    &::-webkit-scrollbar {
        height: 0px;
    }
    .router-link-exact-active {
        background: $main-color !important;
        color: white !important;
        border-radius: 12px;
    }
}

// account card style
.account-card-container {
    box-shadow: none !important;
    .p-card-body {
        padding: 0;
        gap: 24px;
        .p-card-title {
            font-size: 30px;
            font-weight: 700;
            color: $main-color;
        }
        .p-inputgroup {
            .p-inputgroupaddon {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                &.p-invalid {
                    border-color: coral !important;
                }
            }
            .p-inputtext {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
    }
}
@media (min-width: 1024px) {
    .account-menu-container {
        box-shadow: 0px 0px 4px 0px #00000040;
        .router-link-exact-active {
            border-radius: 0;
            &:first-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
