:deep(.data-view-header) {
    background: #f2f4f5;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
}

:deep(.p-inputtext) {
    border-radius: 12px;
    box-shadow: none;
    border-color: $border-color;
    border-width: 2px;
    padding: 14px 16px;
    &:hover,
    &:focus {
        border-color: inherit !important;
    }
    &:not(.p-disabled).p-focus {
        border-color: inherit;
    }
}
