*:not(i):not(span) {
    font-family: $main-font;
}
body {
    padding: 0;
    margin: 0;
}
.system-bar,
.header-container,
.body-content,
.footer-container {
    padding: 0 120px;
}

p {
    margin: 0;
}

//select style
.list-option {
    background: none !important;
    color: $main-color !important;
}
.p-select-option-selected {
    background: #f8f8f8 !important;
    color: $second-color !important;
    &.sort-option {
        flex-direction: row-reverse;
        justify-content: space-between;
        .p-select-option-label,
        .p-select-option-check-icon {
            color: $second-color !important;
        }
    }
}
// account menu
.account-menu {
    border-radius: 12px !important;
    box-shadow: 0px 0px 6px 0px #00000040 !important;
    .p-menu-item {
        padding: 5px;
        .p-menu-item-content {
            &:hover {
                background-color: lighten($main-color, 50%) !important ;
            }
            .p-menu-item-label {
                font: $global-font;
            }
        }
        &:last-child {
            .p-menu-item-label {
                font-weight: 600;
                color: $second-color;
            }
        }
    }
}

// inputnumber for qty
.qty-input {
    .p-inputtext {
        border-left: 0;
        border-right: 0;
        border-width: 3px !important;
        text-align: center;
        border-radius: 0 !important;
    }
    .p-inputnumber-increment-button {
        border-start-end-radius: 12px !important;
        border-end-end-radius: 12px !important;
    }
    .p-inputnumber-decrement-button {
        border-start-start-radius: 12px !important;
        border-end-start-radius: 12px !important;
    }
    .p-inputnumber-increment-button,
    .p-inputnumber-decrement-button {
        &.p-disabled {
            opacity: 1;
            span {
                opacity: 0.3;
            }
        }
        border-color: $border-color !important;
        color: black;
        border-width: 3px !important;
        &:hover {
            background-color: transparent !important;
            border-color: inherit;
        }
    }
}
h3 {
    font-family: "El Messiri" !important;
}


// style for scrollbar
::-webkit-scrollbar {
    width: 6px !important;
}
::-webkit-scrollbar-thumb {
    background: $border-color !important;
    border-radius: 10px !important;
}
