// product details
:deep(.p-inputtext),
:deep(.p-select) {
    &:not(.p-inputnumber .p-inputtext) {
        border-radius: 12px;
    }
    box-shadow: none;
    border-color: $border-color;
    &:hover,
    &:focus {
        border-color: inherit !important;
    }
    &:not(.p-disabled).p-focus {
        border-color: inherit;
    }
}
:deep(.color-circle) {
    &.p-radiobutton-checked {
        border-color: $second-color !important;
        .p-radiobutton-box {
            border: 3px solid white !important;
        }
    }
}
// tabs
:deep(.p-tab-active) {
    color: black !important;
    font-weight: 500 !important;
    border-color: transparent;
}

// product filter
:deep(.p-accordionpanel-active) {
    .p-accordionheader {
        border-color: $second-color !important;
    }
}
:deep(.price-filter) {
    .p-inputnumber .p-inputtext {
        border-radius: 12px !important;
        box-shadow: none !important;
        border-color: $border-color !important;
        &:hover,
        &:focus {
            border-color: inherit !important;
        }
        &:not(.p-disabled).p-focus {
            border-color: inherit;
        }
    }
    .p-radiobutton-checked .p-radiobutton-box {
        border-color: $second-color;
        background: $second-color;
    }
    .p-radiobutton-checked:has(.p-radiobutton-input:hover) {
        .p-radiobutton-box {
            border-color: $second-color !important;
            background: $second-color !important;
        }
    }
}
:deep(.color-filter) {
    .p-radiobutton {
        box-shadow: 0px 0px 4px 0px #0000001a;
        &.p-radiobutton-checked .p-radiobutton-box {
            border-color: $second-color !important;
        }
    }
}
